<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
            {{#each products}}
                <tr>
                    <td>
                        {{name}}
                    </td>
                    <td>
                        {{description}}
                    </td>
                    <td>
                        {{price}}
                    </td>
                    <td>
                        {{quantity}}
                    </td>
                    <td>
                        <a class="btn btn-link" href="/products/edit/{{_id}}">Edit</a>
                        <a class="btn btn" method="post" action="/products"{{_id}}">Delete</a>

                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>